#wheel==0.38.4
gunicorn
ftfy==6.1.1
regex==2022.6.2
tqdm==4.64.1
Pillow==7.1.2
requests==2.25.1
packaging	
uvicorn
openai
fastapi[all]
PyYAML


#Flask


#pandas
#numpy



#json
#pkg_resources
#io
#collections
#os